[Unit]
Description=Atlassian Bamboo Agent
After=syslog.target network.target

[Service]
Type=forking
User=bamboo
Group=bamboo
ExecStart=/home/bamboo/bamboo-agent-home/bin/bamboo-agent.sh start
ExecStop=/home/bamboo/bamboo-agent-home/bin/bamboo-agent.sh stop

[Install]
WantedBy=multi-user.target
